<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Hello world!</title>
	</head>
	<body>
		<h1>Hello {{name}}, welcome to Node.js</h1>
	</body>
</html>
